@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype'),
        url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff'),
        url('fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ECECEC;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}

h2 {

}

h3 {

}

h4 {

}

p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

li {
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

body{
/*    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}

.content {
    padding-bottom: 110px;
}

.body {
    height: 100vh;
    overflow: hidden !important;
}

.wrapper {
/*    height: 100vh;*/
/*    overflow: hidden !important;*/
/*    height: 100vh;*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*    overflow: hidden !important;*/
/*    padding: 0 !important;*/
/*    position: relative;*/
}

.mCSB_inside > .mCSB_container {
    margin-right: 5px !important;
}


/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    padding: 0 15px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Browser Btn --*/

.brBtn {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 48px rgba(0, 0, 0, .4);
    backdrop-filter: blur(.5px);
    border-radius: 20px;
    position: fixed;
    top: 12px;
    right: 17px;
    z-index: 2;
    opacity: 1;
    -webkit-transition-property: top, opacity, background;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top, opacity, background;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top, opacity, background;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top, opacity, background;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: top, opacity, background;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.brBtn:hover {
    background: rgba(255, 255, 255, 1);
}

.wrapper.bottom .brBtn {
    opacity: 0;
    top: -300px;
}

.brBtn img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- /Browser Btn --*/

/*.wrapper {
    padding-bottom: 110px;
}*/

/*-- Section 1 - order --*/

.title {
    padding: 21px 0 7px 0;
}

.tabs_links {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 16px;
    margin: 8px 0;
    padding: 8px;
}

.tabs_links li {
    width: 50%;
}

.tabs_links li:nth-child(odd) {
    padding-right: 4px;
}

.tabs_links li:nth-child(even) {
    padding-left: 4px;
}

.tab_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    min-height: 31px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
    cursor: pointer;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tab_link:hover,
.tab_link.active {
    background: #ECECEC;
}

.dr_title {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid rgba(60, 60, 60, .36);
}

.dr_title:after {
    display: block;
    content: "";
    width: 16px;
    height: 17px;
    background-image: url(img/arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    right: 4px;
    transform: rotate(0);
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dr_item.active .dr_title:after {
    transform: rotate(-180deg);
}

.dr_title h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #666;
}

.dr_content {
    display: none;
    border-radius: 10px;
    padding: 15px 15px;
    background: #fff;
}

.dr_content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #666;
}

.btn_wrapp {
    padding: 6px 0 9px 0;
}

.white_pill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    min-height: 42px;
    border: none;
    background: #FFF;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.white_pill svg {
    margin-left: 6px;
}

.white_pill:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
}

.items_title {
    padding: 10px 0 10px 0;
}

.items_title h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #121212;
}

.items {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 0 2px 15px;
    background: #fff;
}

.item {
    padding: 10px 0 8px 0;
    border-bottom: 1px solid rgba(60, 60, 67, .36);
}

.item:last-child {
    border-bottom: none;
}

.item h3 {
    padding: 3px 15px 3px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #222;
}

.item p {
    padding: 3px 15px 3px 0;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
}

/*-- /Section 1 - order --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer_section {
    width: 100%;
    background: #FFF;
    padding: 5px 0 34px 0;
    border-top: 1px solid rgba(60, 60, 60, .36);
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: bottom;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: bottom;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: bottom;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: bottom;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.wrapper.bottom .footer_section {
    bottom: -200px;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 -5px;
}

.nav li {
    width: 33.33%;
    padding: 5px;
}

.nav li a {
    display: block;
    text-align: center;
    opacity: .55;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.nav li a.active,
.nav li a:hover {
    opacity: 1;
}

.nav li a .icon_box {
    width: 100%;
    height: 26px;
    margin: 5px 0;
}

.nav li a img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.nav li a p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #2C2C2C;
}

/*-- Chat Btn --*/
.chatBtn {
    display: flex;
    align-items: center;
    width: 133px;
    height: 50px;
    padding: 5px 14px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 60px rgba(0, 0, 0, .4);
    border-radius: 25px;
    position: fixed;
    bottom: 130px;
    right: 15px;
    z-index: 3;
    -webkit-transition-property: width, bottom;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: width, bottom;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: width, bottom;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: width, bottom;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: width, bottom;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.wrapper.bottom .chatBtn {
    width: 50px;
    bottom: 15px;
}

.chatBtn > div:nth-child(1) {
    width: 25px;
}

.chatBtn > div:nth-child(2) {
    overflow: hidden;
    width: 100%;
    -webkit-transition-property: width;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: width;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: width;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: width;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.wrapper.bottom .chatBtn > div:nth-child(2) {
    width: 0;
}

.chatBtn > div:nth-child(1) img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    position: relative;
    top: 1px;
    left: 0;
}

.chatBtn > div:nth-child(2) p {
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222;
}

/*-- /Chat Btn --*/

/*-- Popup --*/

body.fixed {
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    position: fixed;
    left: 0;
}
.popup {
    display: block;
    width: 100%;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    left: -200vw;
    z-index: 5;
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.popup.active {
    height: 100%;
    left: 0;
    opacity: 1;
}
.popup_bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
    z-index: 4;
}
.popup_content {
    width: 100%;
    max-width: 100%;
    background: #FFF;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: -300px;
    left: 0;
    padding: 4px 15px 16px 15px;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: bottom;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: bottom;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: bottom;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: bottom;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.popup.active .popup_content {
    bottom: 0;
}

.popup_title {
    padding: 8px 0 5px 0;
    text-align: center;
}

.popup_title h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.43px;
    color: #000;
}

.close {
    display: block;
    width: 36px;
    height: 5px;
    background: rgba(60, 60, 67, .3);
    border-radius: 2.5px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}

.grey_box {
    background: #ECECEC;
    border-radius: 16px;
    padding: 1px 15px 0 15px;
}

.input_wrapp {
    margin-bottom: 12px;
    position: relative;
}

.input_wrapp input {
    display: block;
    width: 100%;
    padding: 0 15px 0 15px;
    height: 41px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(60, 60, 67, .36);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #666;
}

.input_wrapp input::placeholder {
    color: #666;
}

.grey_box .input_wrapp:last-child input {
    border-bottom: none;
}

.grey_box .input_wrapp:last-child {
    margin-bottom: 0;
}

.input_wrapp .desc {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999;
}

.submit_wrapp {
    padding: 15px 0
}

.grey_pill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    min-height: 42px;
    border: none;
    background: #ECECEC;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
    cursor: pointer;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.grey_pill svg {
    margin-left: 6px;
}

.grey_pill:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
}

.submit_wrapp .grey_pill {
    width: 100%;
}

/*-- /Popup --*/